@using Service.BMWindows.Executes.Category
@model CategoryModel

<div class="modal fade" id="category-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@((Model?.Id > 0) ? "Chỉnh sửa Nhóm ứng dụng" : "Tạo Nhóm ứng dụng")</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form id="categoryForm">
					<input type="hidden" id="CategoryId" name="Id" value="@(Model?.Id ?? 0)" />
					<div class="mb-3">
						<label class="form-label" for="CategoryName">Tên nhóm</label>
						<input type="text" id="CategoryName" name="Name" class="form-control"
							   value="@(Model?.Name ?? string.Empty)" placeholder="Nhập tên nhóm">
					</div>
					<div class="mb-3">
						<label class="form-label" for="CategoryPrioritize">Thứ tự ưu tiên</label>
						<input type="number" id="CategoryPrioritize" name="Prioritize" class="form-control"
							   value="@(Model?.Prioritize ?? 0)">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-primary" id="btnSaveCategory">
					@((Model?.Id > 0) ? "Lưu" : "Tạo")
				</button>
			</div>
		</div>
	</div>
</div>